UTF-8";
* {
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	margin: 0px;
}
body,td,th {
	font-family: "Comic Sans MS", cursive;
}
body{
	background-color:#FF0000;
	background-attachment:fixed;
	background-image:url(../images/cool4school.png), url(../images/cool4school.png);
	background-repeat:no-repeat;
	background-position:right center, left center;
	background-size:213px 592px;
}
h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: yellow;
}
#wrapper {
	background-color:  	#00FF00;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #logo {
	height: 100px;
	background-color:  	#00FF00;
}
#wrapper #navigation {
	z-index:5;
	height: 30px;
	border: 2px none #000;
	margin: 0px;
	padding: 0px;
}
#wrapper #navigation ul {
	z-index:5;
	margin: 0px;
	padding: 0px;
}
#wrapper #navigation ul li a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	text-align: center;
	display: block;
	height: 30px;
	width: 129px;
}
#wrapper #navigation ul ul {
	z-index:5;
	position: absolute;
	visibility: hidden;
}
#wrapper #navigation ul li:hover ul {
	visibility: visible;
}
#wrapper #navigation ul li {
	z-index:5;
	background-color: #0000FF;
	float: left;
	position: relative;
	list-style-type: none;
	border: 2px solid #CCC;
}
#wrapper #navigation ul li:hover {
	background-color: #333;
}
#wrapper #bodyArea #left {
	width: 550px;
	float: left;
	background-color: FF6600;
	font-color: #FFF;
}
#wrapper #bodyArea #right {
	width: 250px;
	float: right;
	background-color:FF6600
}
p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	color: #FFF;
	margin: 20px;
}
#wrapper #bodyArea #footer {
	height: 40px;
	clear: both;
	border: 1px solid #000;
}
#wrapper #heading {
	padding: 20px;
}
#wrapper #bodyArea #left #gun1 {
	height: 200px;
	width: 95%;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E00;
	border-right-color: #E00;
	border-bottom-color: #E00;
	border-left-color: #E00;
	margin-top: 20px;
	border-radius: 15px;
}
#wrapper #bodyArea #left #gun1 img {
	float: left;
	/*margin-top:40px;*/
	margin-left:10px;
}
#wrapper #bodyArea #left #gun1 #text {
	float:right;
}

#wrapper #bodyArea #left #gun2 {
	height: 200px;
	width: 95%;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E00;
	border-right-color: #E00;
	border-bottom-color: #E00;
	border-left-color: #E00;
	margin-top: 20px;	
	border-radius:15px;
}
#wrapper #bodyArea #left #gun2 img {
	float: left;
	margin-top:10px;
	margin-left:10px;
}
#wrapper #bodyArea #left #gun2 #text {
	float:right;
}

#wrapper #bodyArea #left #gun3 {
	height: 200px;
	width: 95%;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E00;
	border-right-color: #E00;
	border-bottom-color: #E00;
	border-left-color: #E00;
	margin-top: 20px;	
	border-radius:15px;
}
#wrapper #bodyArea #left #gun3 img {
	float: left;
	margin-top:45px;
	margin-left:10px;
}
#wrapper #bodyArea #left #gun3 #text {
	float:right;
}

#wrapper #bodyArea #left #gun4 {
	height: 200px;
	width: 95%;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E00;
	border-right-color: #E00;
	border-bottom-color: #E00;
	border-left-color: #E00;
	margin-top: 20px;
	border-radius: 15px;
}
#wrapper #bodyArea #left #gun4 img {
	float: left;
	margin-top:15px;
	margin-left:10px;
}
#wrapper #bodyArea #left #gun4 #text {
	float:right;
}

#wrapper #bodyArea #left a{
	text-decoration:none;
	display:block;
}

#wrapper #bodyArea #left #gun1:hover{
	border-color:#800;
}
#wrapper #bodyArea #left #gun2:hover{
	border-color:#800;
}
#wrapper #bodyArea #left #gun3:hover{
	border-color:#800;
}
#wrapper #bodyArea #left #gun4:hover{
	border-color:#800;
}

#top_image {
	margin-top: 20px;
}
#gun_text ul li {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	color: #FFF;
	margin: 20px;
}
#wrapper #bodyArea #left #GunForm #Submit {
	width: 120px;
}
